**/venv
**/__pycache__

**.txt
**.npy
**.pkl

!data/Le_comte_de_Monte_Cristo.100.sim
!data/Le_comte_de_Monte_Cristo.txt
!data/analogies.txt

!scores/scores-baseline-d.npy
!scores/scores-unigram-d.npy
!scores/scores-subsampling-d.npy
!scores/scores-both-d.npy

!times/*.npy
